body {
  background-image: url("bgimg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}
header {
  background-color: #fff6c7;
  width: max-content;
  height: max-content;
  margin: auto;
  border-radius: 500px;
}
h1 {
  text-align: center;
  margin: 20px;
  color: #000000;
  font-family: "Courier New", Courier, monospace;
}

h2 {
  text-align: center;
  color: #000000;
  font-family: "Courier New", Courier, monospace;
}
