html {
  background-color: #d0bdf4;
}
header {
  background-color: #fff6c7;
  width: max-content;
  height: max-content;
  margin: auto;
  border-radius: 500px;
}
h1 {
  text-align: center;
  margin: 20px;
  color: #000000;
  font-family: "Courier New", Courier, monospace;
}

h2 {
  text-align: center;
  color: #000000;
  font-family: "Courier New", Courier, monospace;
}
